.Fibonacci-input,
.Fibonacci-operations,
.Fibonacci-result {
  margin: 5px;
}

.Fibonacci-numbers,
.Fibonacci-input,
.Fibonacci-operations {
  min-width: 90%;
  font-size: calc(10px + 1vmin);
  border: 3px gray solid;
  background-color: black;
}

.Fibonacci-operations-helper {
  color: white;
}

.Fibonacci-input,
.Fibonacci-operations {
  padding: 10px;
}

.Fibonacci-result {
  height: 50px;
  color: white;
}

.Fibonacci-number-values {
  margin-top: 5px;
  font-size: calc(10px + 1vmin);
  border: 3px gray solid;
  min-height: 100px;
  display: flex;
  justify-content: center;
}

.Fibonacci-number-values input {
  margin-top: 5px;
  min-width: 350px;
}

.Fibonacci-number-values .list {
  margin-top: 5px;
}

.Fibonacci-number-values .item {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.Fibonacci-number-values .item div {
  padding-left: 5px;
}

.Fibonacci-number-values .item button {
  width: 60px;
}

.Fibonacci-input input {
  min-width: 320px;
}

.Fibonacci-numbers button {
  width: 100px;
  margin-top: 5px;
  margin-left: 5px;
}

.Fibonacci-number {
  font-size: 45px;
  color: yellow;
}

.Fibonacci-graph {
  border: 3px gray solid;
  background-color: black;
  height: 300px;
  margin-bottom: 5px;
  color: white;
}